canvas {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1,
h2,
h3,
h4,
h5,
p {
  overflow: hidden;
  color: rgb(var(--secondary-color)) !important;
}
a {
  color: rgb(var(--secondary-color)) !important;
}
.form-control{
  opacity: 0.5;
}
:root {
  --primary-color: 240, 240, 240;
  --secondary-color: 51, 51, 51;
  --fill:url(Assets/animated-text-fill-dark.png);
}
.dark-theme {
  --primary-color: 51, 51, 51;
  --secondary-color: 240, 240, 240;
  --fill:url(Assets/animated-text-fill-light.png);
}

@keyframes anim {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
* {
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: all 0.5s;
  font-weight: 600 !important;
}
.btn {
  color: rgba(var(--primary-color)) !important ;
  background-color: rgba(var(--secondary-color)) !important;
}
.slide {
  font-size: 3vmin;
  font-weight: 400;
  color: rgba(var(--secondary-color));
}
p {
  font-size: 2.9vmin;
  font-weight: 500;
}
h3 {
  font-size: 3.9vmin !important;
  margin-top: 5% !important;
  overflow: hidden;
}

#dark-icon:hover {
  scale: 1.2;
  filter: drop-shadow(0px black) !important;
}
.imgr,
.imgr2 {
  
  user-select: none;
  overflow: hidden;
  filter: drop-shadow(20px 4px rgba(var(--secondary-color), 0.05));
}
/* Sections */
#home {
  background-color: rgb(var(--primary-color));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(264,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='15.839999999999998'%3E%3Cpath transform='translate(-192.5 -12) rotate(-22.5 1409 581) scale(0.749)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='5.28' transform='translate(-320 170) rotate(1 800 450) scale(0.9832499999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-7 -60) rotate(-40 401 736) scale(0.9832499999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4.8'%3E%3Cpath transform='translate(1020 32) rotate(-8 150 345) scale(1.0230000000000001)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='10.56' transform='translate(-130 -475) rotate(-108 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-460 100) rotate(-18 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
/* nav */
.full {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
}
.nav {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: rgba(var(--secondary-color), 0.4);
  font-size: 20px;
}

.itm {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(var(--secondary-color));
}
/* Home */
.cntr {
  position: absolute;
  top: 20vh;
  overflow: hidden;
  left: 2%;
  width: 55%;
  background: var(--fill);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: anim 80s linear infinite;
  -webkit-animation: anim 80s linear infinite;
}
.imgr {
  position: absolute;
  height: 80vh;
  bottom: 0;
  right: 0;
  margin-right: 5vw;
  transition: all 0.5s;
}
.imgr:hover {
  transform: translateX(-10px);
}

.nam {
  margin-left: 5px;
  overflow: hidden;
  font-size: 7vw;
  user-select: none;
  transition: all 1.5s;
  /*  */
  font-family:"Oswald", sans-serif;
}

/* .nam:hover {
  color: salmon;
} */
.sec {
  height: 100vh;
  position: relataive;
}
.bi {
  margin-left: 4px;
  margin-right: 4px;
}
.bi:hover {
  transition: all 0.5s;
  cursor: pointer;
  fill: cyan;
  color: cyan !important;
}
.divider {
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
/* About */
.dt {
  width: 80vh;
}
#about {
  background-color: rgba(var(--primary-color));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(264,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='15.839999999999998'%3E%3Cpath transform='translate(-192.5 -12) rotate(-22.5 1409 581) scale(0.749)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='5.28' transform='translate(-320 170) rotate(1 800 450) scale(0.9832499999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-7 -60) rotate(-40 401 736) scale(0.9832499999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4.8'%3E%3Cpath transform='translate(1020 32) rotate(-8 150 345) scale(1.0230000000000001)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='10.56' transform='translate(-130 -475) rotate(-108 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-460 100) rotate(-18 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.imgr2{
  transition: all 0.5s;
  height: 29vw;
}
.imgr2:hover {
  transform: translateY(-25px);
}
.abouttxt {
  position: relative;
  padding: 3%;
  width: 70%;
  border-radius: 20px;
  font-size: 3vw;
  color: rgb(var(--secondary-color));
  background-color: rgba(var(--primary-color), 0.7);
  box-shadow: rgba(var(--secondary-color)) 0px 10px 20px -10px;
  transition: all 0.5s;
}
.abouttxt:hover {
  transform: scale(1.1);
}
.ico {
  height: 1.5rem;
}
.ico:hover {
  scale: 1.1;
}
/* Projects */
#projects {
  background-color: rgba(var(--primary-color));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(264,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='15.839999999999998'%3E%3Cpath transform='translate(-192.5 -12) rotate(-22.5 1409 581) scale(0.749)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='5.28' transform='translate(-320 170) rotate(1 800 450) scale(0.9832499999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-7 -60) rotate(-40 401 736) scale(0.9832499999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4.8'%3E%3Cpath transform='translate(1020 32) rotate(-8 150 345) scale(1.0230000000000001)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='10.56' transform='translate(-130 -475) rotate(-108 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-460 100) rotate(-18 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.box {
  background-color: rgba(var(--primary-color), 0.4);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  text-align: center;
  width: 30vw;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}
h3 {
  overflow: hidden;
}
.propic {
  width: 24vw;
}
.box:hover {
  transform: scale(1.1);
}
/* contact */
#contact {
  background-color: rgb(var(--primary-color));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cd1c1c' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2386a7aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6132f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%235497ad' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9034b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%232d86b9' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d30c6c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%232f6cbb' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c20d8b' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23604bac' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa10aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23891789' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 120vh;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
}
.nw {
  border-bottom: 1vh solid rgb(186, 186, 186);
}
/* canvas */
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.boxx {
  width: 60px;
}
.bottom {
  display: flex;
  justify-content: center;
  height: 41vh;
  overflow: hidden;
}
.projct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.procon {
  padding: 3vh;
  margin-bottom: 15px;
  border-radius: 5%;
  width: min(700px, 80vw);
  height: 88vh;
  background-color: rgb(--primary-color);
}
.stack {
  transition: all 0.5s;
}
.thanks{
  overflow: hidden;
  padding: 20px;
  display: flex;
  margin-left: 5vw;
    width: 30%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}
@media screen and (max-width: 722px) {
  .thanks{
    display:none;
  }
  .box {
    width: 70%;
  }
  .propic {
    width: 60vw;
  }
  .imgr {
    height: 65vh;
    margin-right: -20px;
  }
 
  .abouttxt {
    font-size: 1.5rem;
    overflow: hidden;
  }

 
  .procon {
    margin-bottom: 15px;
    width: 90vw;
    height: 80vh;
  }
}


.titl{
  margin-block: 4px;
}

.titl h3 {
  color: #fff;
  overflow: hidden;
  border-right: .19em solid rgb(0, 213, 255); 
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
} 

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 255, 238) }
}
